table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

td,tr{
    border: 1px black solid;
    height: 30px;
}
#tabla2{
    width: 10%;
}

#imagen2{
    width: 5%;
}
h1{
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 15px;
    text-decoration: underline;
}
h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20;
    line-height: 0.3;
    text-align: center;
}
h4{
    text-align: end;
    line-height: 0.3;
    font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
}
h5{
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
}

#tr1{
    background-color: black;
    color: white;
    text-align: center;
    text-align: center; 
}
#td1{
    background-color:moccasin ;
    vertical-align: top;
    text-align: center; 
}
#td2{
    background-color: blue;
    color: white;
    vertical-align: top;
    text-align: center; 
}
#td3{
    background-color: rgb(61, 243, 61);
    vertical-align: top;
    text-align: center; 
}
#td4{
    background-color: rgb(239, 171, 149);
    text-align: center;
    vertical-align: top;
    text-align: center; 
}
#td5{
    background-color: cadetblue;
    vertical-align: top;
    text-align: center; 
}
#td6{
    background-color: red;
    vertical-align: top;
    text-align: center; 
}
#td7{
    background-color: black;
    color: white;
    vertical-align: top;
    text-align: center; 
}
#img3{
    width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
}
#img4{
     width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
    
}
#img5{
     width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
}
#tr2{
    background-color: red;
    color: white;
}
